name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  build:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-build-pipe.yml@main
    with:
      gh_release_mode: "yes"
    secrets: inherit

  release:
    needs: build
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-dockerize-pipe.yml@main
    secrets: inherit
