name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  release:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-build-pipe.yml@v2.2.0
    secrets: inherit
    with:
      release_mode: "enabled"
  distribute:
    needs: release
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-ship-pipe.yml@v2.2.0
    secrets: inherit