name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  zco-tournaments-api:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-wf.yml@v3.0.0
    secrets: inherit
    with:
      mode: "build"