name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  release-api:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nodejs-build-pipe.yml@v2.1.0
    with:
      release_mode: "enabled"