name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build nodejs app
        uses: Stamper-Labs/core-flows/actions/yarn-nodejs-build@main
