name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  build-nestjs:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nestjs-pipe.yml@v1.9.0
    with:
      release-mode: "yes"
    secrets: inherit