name: On push to main

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  build:
    uses: Stamper-Labs/core-flows/.github/workflows/yarn-nestjs-build.yml@v1.10.0
    with:
      gh_release_mode: "yes"
    secrets: inherit

  release:
    uses: Stamper-Labs/core-flows/.github/workflows/release-dhub-pipe.yml@v1.11.0
